<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>Contact Us</h1>
    </div>
    <div class="col-md-12 text-center">
      <div class="row">
        <div class="col-md-6">
          <p class="lead">Sign In</p>
          <form>
            <input class="form-control" name="email" type="email" ng-model="email" length="100" required>
            <input class="form-control" name="Password" type="password" ng-model="password" length="100" required>
            <a class="btn btn-lg btn-primary" href="#fork">Sign In</a>
          </form>
        </div>
        <div class="col-md-6">
          <p class="lead">Sign Up</p>
          <input name="name" type="text" ng-model="name" required>
          <input name="email" type="email" ng-model="email" length="100" required>
          <input name="Password" type="password" ng-model="password" length="100" required>
          <a class="btn btn-lg btn-primary" href="#fork">Sign In</a>
        </div>
      </div>
    </div>
  </div>
</div>
